.container
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, '画像'
    %div
      = f.file_field :avatar
    = f.submit 'Submit', class: 'actions_btn'